
  <div class="jumbotron">
    <br><br><br><br><br><br><br><br><br><br>
       <embed src="http://www.tudou.com/v/sQqOTZGk1yY/&bid=05&resourceId=0_05_05_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="540" height="340"></embed>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>
